{% extends 'base.html' %}
{% load static %}
{% block title %}野聲環境｜關於野聲{% endblock %}
{% block content %}



<body>
  <section id="first" class="mb-5">
    <div class="overflow-hidden ratio ratio-21x9">
      <img id="muntjac" src="{% static 'fwscsc/img/about/mantjac.jpg'%}" class="img-fluid" alt="山羌">
    </div>
  </section>

  <br>

  <section>
    <div class="container my-5 text-center">
      <h1>關於我們</h1>
      <br>
      <br>
      <p class="lead lh-lg">
        公司架構包含保育研究部與生態儀器部，我們主要的業務為動物生態保育研究與作為，以及相關生態儀器器材代理經銷，生態器材主要以動物影像與聲音自動偵測紀錄以及動物追蹤定位為主軸，近年的研究計畫主要涵蓋石虎與水獺保育、路殺防制、狩獵動物族群監測與狩獵治理探討、動植物生態調查與自動化監測、生態檢核以及動物影音製作收錄等業務。
      </p>
    </div>
    <br>
    <div class="container my-5">
      <div class="row featurette">
        <div class="col-md align-self-center">
          <h1 style="color: #808080;">姜博仁 博士</h1>
          <h4 style="color: #d48000;">野聲創辦人</h4>
          <br>
          <p class="lead lh-lg">合作或顧問諮詢<br>Email: fwscsc51783@gmail.com</p>
        </div>
        <div class="col-md ratio ratio-1x1 overflow-hidden rounded-3">
          <img id="boss" src="{% static 'fwscsc/img/about/chiangBoss.jpg'%}" alt="">
        </div>
      </div>
    </div>
  </section>

  <br>

  <section>
    <div class="container my-5 text-center">
      <h1>歷年研究計畫</h1>
      <br>
      <br>
      <p class="lead lh-lg text-start">
        106年-石虎捕食利用模式研究以苗栗地區放養家禽場所及森林作業空隙為例 <br>
        106年-人工林疏伐前動物與土壤水文資料建置計畫案<br>
        106年-國家生技研究園區施工中生態監測補充調查計畫委託專業服務案<br>
        106年-動物光學警示裝置減緩動物路殺實驗前置評估<br>
        106年-台中市八仙山地區原住民因應傳統文化與祭儀狩獵中大型哺乳動物之族群監測與經營管理(1/2)br
        106年-泰雅族傳統狩獵區域內中大型哺乳動物資源監測計畫-以桃園復興三光部落及新竹尖石梅嘎浪部落為例<br>
        106年-武陵地區鳥類資源普查暨鳥音資料庫建立案<br>
        106年-台東林區管理處治理工程生態友善檢核機制委託專業服務 <br>​
        105年-塔山野生動物重要棲息環境野生動物資源調查<br>
        104年-八仙山地區原住民族因禮儀及文化祭儀需求 獵捕及利用野生動物需求前期評估計畫（2/2）<br>
        104年-第四次森林資源調查野生動物調查 錄音檔案監聽辨識及資料分析<br>
        103年-海岸山脈野生動物重要棲息環境及周遭緩衝區動物資源調查與監測計畫(2/2) <br>
        103年-鹿林山野生動物重要棲息環境野生動物資源調查(2/2) <br>
        102年-鹿林山野生動物重要棲息環境野生動物資源調查(1/2) <br>
        102年-玉山國家公園共域性動物族群消長動態變化與監測模式建立-以黃鼠狼與黃喉貂為例<br>
        102年-102年丹大野生動物重要棲息環境-巒大事業區鳥類群落調查<br>
        102年-台中市和平區(八仙山地區)原住民族因禮儀及文化祭儀需求獵補及利用野生動物需求前期評估計畫(1/2) <br>
        101年-臺東縣轄海岸山脈野生動物重要棲息環境及周遭緩衝區動物資源調查與監測計畫（1/3) <br>
      </p>
    </div>
  </section>

</body>

<br>

{% endblock %}