{% load static%}

<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- 先comment 網頁要上架再加這行 -->
  <!-- <meta name="robot" content="index, follow"> -->
  <meta name="discription" content="全台最大生態軍火商，代理經銷各式生態調查器材。" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Ta-Chih Chen, Feng-Chen Wu" />
  <title>{% block title %}野聲環境生態顧問有限公司{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'fwscsc/img/favicon/apple-icon-57x57.png' %}" />
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'fwscsc/img/favicon/apple-icon-60x60.png' %}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'fwscsc/img/favicon/apple-icon-72x72.png' %}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'fwscsc/img/favicon/apple-icon-76x76.png' %}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'fwscsc/img/favicon/apple-icon-114x114.png' %}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'fwscsc/img/favicon/apple-icon-120x120.png' %}" />
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'fwscsc/img/favicon/apple-icon-144x144.png' %}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'fwscsc/img/favicon/apple-icon-152x152.png' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fwscsc/img/favicon/apple-icon-180x180.png' %}" />
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'fwscsc' %}/img/favicon/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fwscsc' %}/img/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'fwscsc' %}/img/favicon/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fwscsc' %}/img/favicon/favicon-16x16.png" />
  <link rel="manifest" href="{% static 'fwscsc/img/favicon/manifest.json'%}" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="{% static 'fwscsc/ms-icon-144x144.png'" />
  <meta name="theme-color" content="#ffffff" />

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'fwscsc/style/style.css'%}" />

</head>
<header>
  <!-- navbar -->

  <nav class="navbar navbar-expand-lg navbar-light overflow-visible">
    <div class="container-fluid over">
      <div id="addImg">
        <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'fwscsc/img/logo中文 1.png'%}" alt="logo"
            width="150" class="d-inline-block align-top" /></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="nav d-flex me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link toWhite" aria-current="page" href="{% url 'home'%}">首頁</a>
          </li>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle toWhite" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              器材產品
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="color: #7a7a7a;">
              <li><a class="nav-link dropdown-item stay-grey" href="{% url 'trailCam'%}">紅外線自動相機</a></li>
              <li><a class="nav-link dropdown-item stay-grey" href="#">排程錄音機</a></li>
              <li><a class="nav-link dropdown-item stay-grey" href="#">蝙蝠偵測器</a></li>
              <li><a class="nav-link dropdown-item stay-grey" href="#">動物追蹤發報器</a></li>
              <li><a class="nav-link dropdown-item stay-grey" href="#">各式其他進口器材</a></li>
            </ul> -->
            <button class="nav-link toWhite" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
              aria-controls="offcanvasTop">器材產品</button>
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel"
              style="visibility: hidden;" aria-hidden="true">
              <div class="offcanvas-header">
                <h4 id="offcanvasTopLabel">器材產品</h4>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="brand-atag container">
                  <h5><a href="{% url 'trailCam'%}">紅外線自動相機</a></h5>
                  <ul class="brand-atag">
                    {% for i in trailCamBrand%}
                    <li class="m-1"><a class="fs-6" href="{% url 'trailCam'%}#{{i.id}}">{{i}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

          </li>
          <li class="nav-item">
            <a class="nav-link toWhite" href="#">生態調查</a>
          </li>
          <li class="nav-item">
            <a class="nav-link toWhite" href="{% url 'about'%}">關於野聲</a>
          </li>
          <li class="nav-item">
            <a class="nav-link toWhite" href="{% url 'recruitment'%}">徵才訊息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link toWhite" href="{% url 'support'%}">技術支援</a>
          </li>
          <li class="nav-item">
            <a class="nav-link toWhite" href="{% url 'contact'%}">聯絡我們</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


{% block content %} {% endblock %}

<footer class="py-5">
  <div class="container text-center">
    <ul class="nav justify-content-center fs-5">
      <li class="nav-item"><a class="nav-link" href="{% url 'home'%}">首頁</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          器材產品
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a style="color: rgb(185, 185, 185);" class="nav-link dropdown-item" href="trailCam.html">紅外線自動相機</a></li>
          <li><a style="color: rgb(185, 185, 185);" class="nav-link dropdown-item" href="#">排程錄音機</a></li>
          <li><a style="color: rgb(185, 185, 185);" class="nav-link dropdown-item" href="#">蝙蝠偵測器</a></li>
          <li><a style="color: rgb(185, 185, 185);" class="nav-link dropdown-item" href="#">動物追蹤發報器</a></li>
          <li><a style="color: rgb(185, 185, 185);" class="nav-link dropdown-item" href="#">各式其他進口器材</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">生態調查</a></li>
      <li class="nav-item">
        <a class="nav-link" href="./about.html">關於野聲</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="recruitment.html">徵才訊息</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./support.html">技術支援</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./contact.html">聯絡我們</a>
      </li>
    </ul>
    <br />
    <span class="my-copyright">
      Copyright Ta-Chih Chen All rights reserved. <br />
      網頁設計｜陳達智</span>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script src="{% static 'fwscsc/style/stickyNav.js' %}"></script>


</html>