{% extends 'base.html' %}
{% load static %}
{% block title %}野聲環境｜徵才訊息{% endblock %}
{% block content %}

<br><br>

<body>
  <section>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for i in recruitment %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">{{i.department}}</h3>

              <h5 class="my-card-active">{{i.position}}</h5>
              <br>
              <p class="card-text">
                {{i.briefIntro}}<br>
                {{i.salary}}<br><br>
                {{i.aboutJob}}<br>
                {{i.condition|linebreaks }}
              </p>
              <br>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>

<br><br>

{% endblock %}