{% extends 'base.html' %}
{% load static %}
{% block title %}野聲環境｜徵才訊息{% endblock %}
{% block content %}

<br>

<body>
    <section>
        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">保育研究部-台東分部</h3>
                      <h5 class="my-card-active">徵 駐點生態研究專員</h5>
                      <br>
                      <p class="card-text">
                        工作內容：水域及陸域生態檢核<br>
                        薪資：面議<br><br>
                        看老闆要怎麼介紹這個工作就全部打在這邊，我也不知道這邊可以放些什麼，總之先打一些廢話。<br>
                        請填寫表單。<br>
                        https://docs.google.com/forms/d/e/1FAIpQLSeM-PXAG72a-2U0tBNrcEw-FMVXyas
                    </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">保育研究部-竹南本部</h3>
                      <h5 class="my-card">暫無職缺</h5>
                      <!-- 沒職缺就把p comment 掉 -->
                      <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">生態儀器部</h3>
                      <h5 class="my-card">暫無職缺</h5>
                      <!-- 沒職缺就把p comment 掉 -->
                      <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">社會人文部</h3>
                      <h5 class="my-card">暫無職缺</h5>
                      <!-- 沒職缺就把p comment 掉 -->
                      <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
</body>

<br>

{% endblock %}