{% extends 'base.html' %}
{% load static %}
{% block title %}野聲環境｜技術支援{% endblock %}
{% block content %}


<body>
    <section id="first" class="mb-5">
        <div class="overflow-hidden ratio ratio-21x9">
          <img id="muntjac" src="{% static 'fwscsc//img/support/cam in the field.jpg'%}" class="img-fluid" alt="trailCam">
        </div>
    </section>
    <br>
    <section class="my-5">
        <div class="container my-5 text-center">
            <h1>野聲相機保固服務說明</h1>
            <br>
            <br>
            <ul class="lead lh-lg text-start">
                <li>1個月內保固範圍內故障換新品</li>
                <li>1-3個月內保固範圍內故障Keepguard更換良品</li>
                <li>Keepguard KG790 與Reconyx HC系列12個月保固</li>
                <li>Reconyx Ultrafire XR6/WR6及Professional PC系列2年保固，但第二年保固酌收$1000國外運費，免維修費。</li>
                <li>若原廠認定屬人為疏失非保固，依照保固範圍外收費</li>
                <li>電池漏液不適用保固範圍</li>
                <li>已維修相機，一個月內同樣問題故障，給予免費維修(保固內過保固都適用)</li>
                <li>原廠保固兩年以上者，第1年免費，第2年之後收服務運費免維修費。過保固期則收費。</li>
            </ul>
        </div>
    </section>
    <br>
    <section>
        <div class="container my-5 text-center">
            <h1>器材送修聯絡方式</h1>
            <br>
            <br>
            <p class="lead lh-lg text-start">
                寄送維修相機時請將"報修單"印出，填寫相機基本資料與狀況後，附在故障相機中一並寄送至野聲，收到相機後我們會通知您(所以聯絡資料很重要，請務必確實填寫)。<br><br>
                收件地址：苗栗縣竹南鎮仁愛路645巷16號<br><br>
                連絡電話：037-582503
            </p>
            <br>
            <a href="./報修單.docx" download="報修單.docx"><button style="background-color: #D48000; border: none;" type="button" class="btn btn-primary google-sheet">下載報修單</button></a>
    </section>
    <br>
    <section>
        <div class="container my-5 text-center">
            <h1>相機保養</h1>
            <br>
            <br>
            <p class="lead lh-lg text-start">
                長期放置在野外自動相機其實就是一個"耗材"，當然一分錢一分貨，一萬左右的自動相機，商品壽命大概是2-3年，因為這些廠牌每年推陳出新，都有新的款式出來，舊款通常過幾年會停止生產零件，甚至無法維修，所以你希望的是長期的監測，我們通常推薦購買Reconyx，正確的使用可以使用非常久。<br><br>
                所有的器材都是需要保養的。自動相機防水最關鍵的就是防水墊圈，架設自動相機時，闔上相機必須要確定墊圈是非常乾淨的，如果有任何髒污應該要拆下做簡單的清潔，任何髒污都會讓相機防水失效，並且，防水墊圈是消耗品，若你的相機使用數年了，可以寄回我們公司更換。<br><br>
                架設自動相機時，可以在相機的上方接合處黏上膠帶，以免一些髒汙掉進相機內或累積在墊圈上，當然，我們強烈建議架設相機使用防盜鐵殼，鐵殼除了防盜用之外，可以減少雨滴直接滴在墊圈處，稍微有一點防雨功能，並且更換相機電池記憶卡或拆下清潔，並不會變動相機的拍攝角度(因為支架鎖在鐵殼上)，相機的拍攝角度會影響偵測率，固定的監測角度對長期監測是非常重要的。<br><br>
                不要用超會漏液的鹼性電池，不要用超會漏液的鹼性電池，不要用超會漏液的鹼性電池。(如果你還是需要使用，請聯絡我們，我們知道哪款是雷，哪款很OK比較不會漏液) <br><br>
                自動相機是靠PIR感應器感應前方熱輻射的變化而啟動拍照，所以前方拍攝區域要避免任何的草枝擺，如果前方一個芒草，太陽稍微曬一下，風稍微幫忙一下，這台相機就會一直拍一直拍，讓你照片看得不要不要的，所以，架設時要避免前方區域的雜草。<br><br>
                其他非我們推薦的任何噴劑或保養油，都禁止使用，原廠一但認定這是人為損壞，保固內是需要收取維修費的。<br><br>
                相機未使用時要打開來放在防潮箱中，野外架設的相機，我們建議過一陣子就要讓相機躺一下防潮箱，收資料時，建議每次都直接更換相機，換上除溼保養過的相機繼續監測。<br><br>
                不是買了充電電池就一勞永逸了，因為鎳氫充電電池使用快充(高電流)的充電器是會減少壽命甚至損壞的，不同批次、不同型號、不同電壓的電池都不應該混用，電池中只有一顆損壞，也會影響到全部電池的供電，所以定期的使用三用電表將電池分類、分批儲存，也會大幅增加資料收集的品質。<br><br>
                以上​這些都是我們自己的經驗啊，我們收到維修相機也是測試得不要不要的，希望看到以上分享，可以大幅減少維修相機的數量，若你想進一步了解，歡迎聊聊。
            </p>
          </div>
      </section>

</body>

<br>

{% endblock %}